@use "shared.scss" as *;
.container {
    width: 700px;
    margin: auto;
    
    @media (max-width: 740px) {
        width: 100%;
        padding: 0 20px;
    }
    
    .innerContainer {
        border-radius: 5px;
        overflow: hidden;
    }
}