@use "shared.scss" as *;
.feedbackMessageContainer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 25px;
    left: -25px;
    padding: 10px;
    border-radius: 5px;
    background: $Very-Light-Gray;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: -1;
    &.show {
        left: 10px;
        opacity: 1;
        z-index: 1;
    }

    span {
        margin-right: 10px;
    }

    button {
        padding: 0;
        width: 15px;

        &:hover {
            opacity: 0.5;
        }
        img {
            width: 100%;
        }
    }
}