@use "shared.scss" as *;
.taskListContainer {
  overflow: auto;
  border-radius: 5px;

  @media (max-width: 1000px) {
    width: 100%;
  }
  .task {
    
  }
  .message {
    text-align: center;
  }
}
